{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--Photo For Gallery-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
<link rel="stylesheet" href="gallery-grid.css">

<link href="{% static 'css/gallery-grid.css' %}" rel="stylesheet">
<!--END Photo Gallery-->


<!-- Banner area -->
<section class="banner_area" data-stellar-background-ratio="0.5">
    <h2>Portfolio</h2>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#" class="active">Blog</a></li>
    </ol>
</section>
<!-- End Banner area -->

<!-- blog area -->
<section class="blog_all">
    <!-- Gallery area -->
    <div class="container">
        <div class="tz-gallery">
            {% for img in gallery %}
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="{{ img.image.url }}" style="decoration:none">
                        <img src="{{ img.image.url }}" alt="Park" width="200px" height="200px">
                        <p>{{img.title}}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--End Gallery-->
</section>
<!-- End blog area -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>



{% endblock %}