{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Banner area -->
<section class="banner_area" data-stellar-background-ratio="0.5">
    <h2>XİDMƏTLƏRİMİZ</h2>
    <ol class="breadcrumb">
        <li><a href="{% url 'main_page_url' %}">ƏSAS SƏHİFƏ</a></li>
        <li><a href="{% url 'services_page_url' %}" class="active">XİDMƏTLƏR</a></li>
    </ol>
</section>
<!-- End Banner area -->

<!-- Our Services Area -->
<section class="our_services_tow">
    <div class="container">
        <div class="architecture_area services_pages">
            <div class="portfolio_filter portfolio_filter_2">
                <ul>
                    {% for services in services %}
                    <li data-filter='.{{services.title|cut:" "}}'><a href="">
                            <i class="{{services.icons}}" aria-hidden="true">
                            </i>{{services.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="portfolio_item portfolio_2">
                {% for services in services %}
                <div class="grid-sizer-2"></div>
                <div class="single_facilities col-sm-7 {{services.title|cut:' '}} ">
                    <div class="who_we_area">
                        <div class="subtittle">
                            <h2>{{services.title}}</h2>
                        </div>
                        <p>{{ services.body }}</p>
                        <img src="{{ services.upload.url }}" alt="">
                        <a href="#" class="button_all">Zəng et</a>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>
<!-- End Our Services Area -->

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script>
    $(function () {
        $('.single_facilities:not(:first)').hide();
    })

    // brauzerde ctrl+s ele html ve o biri fayllari ziple at mene burda islemeyin menasi yoxdu
    // oz kompumda baxaram
</script>


{% endblock %}